html, body {
    background:black;
    height:100%;
    margin:0;
    padding:0;
}
.camera-holder {
    padding:0;
    width:70%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
}
.container-fluid {
    padding: 0px;
}
#mandelmap {
    height: 100%;
}
[touch-action="none"]{ 
    -ms-touch-action: none; 
    touch-action: none; 
}
[touch-action="pan-x"]{ 
    -ms-touch-action: pan-x; 
    touch-action: pan-x;
}
[touch-action="pan-y"]{
    -ms-touch-action: pan-y; 
    touch-action: pan-y; 
}
[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ 
    -ms-touch-action: pan-x pan-y; 
    touch-action: pan-x pan-y; 
}
