<html lang="en">
    <head>
        <title>Mandelbrot - 66.20 tp0</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
            
        <link rel="stylesheet" href="static/bootstrap.min.css"> 
        <link rel="stylesheet" href="static/style.css"> 

        <script src="static/jquery-1.11.0.min.js"></script>
        <script src="static/jquery-migrate-1.2.1.min.js"></script> 
        <script src="static/bootstrap.min.js"></script> 
        <script src="static/mandelmap.js"></script> 

</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="camera-holder">
                <img src="http://localhost:5000/mandelbrot.gif?res=320x240" style="height:100%" id="mandelmap">
            </div>
        </div>
    </div>
</body>
</html>
